body
{
    background: radial-gradient(#111111, #000000);

    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}

#header
{
    display: flex;
    justify-content: space-between;

    color: #666600;

    user-select: none;

    -webkit-text-stroke: 1px black;
}

#main-text
{
    display: flex;
    justify-content: space-between;

    border-top: 2px solid;
}

p
{
    width: 45%;
    overflow-wrap: break-word;
    font-size: 1.5em;
}

h1:hover
{
    color: #cccc00;

    cursor: pointer;
}