body
{
    background: radial-gradient(#333333, #000000);

    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}

#header
{
    display: flex;
    justify-content: space-between;

    color: #666600;

    user-select: none;

    -webkit-text-stroke: 1px black;
}

#main-text
{
    display: flex;
    justify-content: space-between;

    border-top: 2px solid;

    overflow: hidden;
}

p
{
    width: 45%;
    overflow-wrap: break-word;
    font-size: 1.5em;
}

#left
{
    transform: translateX(-110%);
    animation: slide-in-left 0.5s ease paused
}

#right
{
    transform: translateX(110%);
    animation: slide-in-right 0.5s ease paused
}

@keyframes slide-in-left
{
    from
    {
        transform: translateX(-110%);
    }

    to
    {
        transform: translateX(0%);
    }
}

@keyframes slide-in-right
{
    from
    {
        transform: translateX(110%);
    }

    to
    {
        transform: translateX(0%);
    }
}

h1:hover
{
    color: #cccc00;

    cursor: pointer;
}

img
{
    width: 224px;
    opacity: 0.33;

    position: absolute;
    top: 40%;
    left: 36%;
    z-index: -1;

    animation: wander 5s ease-in-out infinite
}

@keyframes wander
{
    0% {transform: translate(0px, 0px);}

    20% {transform: translate(16px, -4px);}

    40% {transform: translate(-4px, 16px);}

    60% {transform: translate(-4px, -16px);}

    80% {transform: translate(16px, 4px);}

    100% {transform: translate(0px, 0px);}
}

#next
{
    display: flex;
    justify-content: center;
    
    width: 100%;
    user-select: none;
}

#next:hover
{
    color: #cccc00;
    cursor: pointer;
}

.center
{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.wide
{
    width: 90%;
}