/* Body style should always be first style block, for javascript dunctionality */
body
{
    background-image: url("../Assets/Backgrounds/White-Bricks.webp");

    animation: bg-move 10s linear infinite;
}

button
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

    width: 64px;
    height: 96px;

    background: black;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;

    border-width: 4px;
    border-style: solid;

    position: absolute;

    align-content: center;

    animation: shake 0.5s linear infinite;
}

@keyframes shake
{
    0% {transform: translate(0px, 0px);}

    20% {transform: translate(4px, -4px);}

    40% {transform: translate(-4px, 4px);}

    60% {transform: translate(-4px, -4px);}

    80% {transform: translate(4px, 4px);}

    100% {transform: translate(0px, 0px);}
}

button:hover
{
    background-color: darkslateblue;
    cursor: pointer;
}

button:active
{
    background-color: slateblue;
}

.icon
{
    margin-top: 2px;
    margin-bottom: 8px;
}
/* Keyframes declared but not initialised. Actual keyframes are initialised by desktop.js */
@keyframes bg-move {}