body
{
    background-image: url("../Assets/index-wallpaper.webp");
    color: #FFFFAF;

    font-family: 'Courier New', Courier, monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    background-color: black;

    font-size: 2.5em;
}

#scrollbar
{
    width: 100%;

    border-top: solid;
    border-bottom: solid;

    background-color: black;
}

#scrolltext
{
    font-size: 1.5em;

    animation: scroll 15s linear infinite;
    overflow: hidden;
}

@keyframes scroll
{
    from
    {
        transform: translateX(100%)
    }

    to
    {
        transform: translateX(-100%)
    }
}

iframe
{
    border-width: thick;
    border-style: double;

    width: 800px;
    height: 600px;

    margin-top: 32px;
    margin-bottom: 16px;
}

button
{
    display: flex;
    flex-direction: column;

    height: 64px;
    width: 128px;

    background-color: black;
    color: #FFFFAF;

    font-family: 'Courier New', Courier, monospace;

    border-color: #FFFFAF;
    border-style: outset;
    border-width: 4px;
}

button:hover
{
    background-color: #111111;
    cursor: pointer;
}

button:active
{
    border-style: inset;
}

.icon
{
    height: 32px;
    margin: 2px;
}